<img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Python_logo_and_wordmark.svg"
    style="width:300px; float: right; margin: 0 40px 40px 40px;"></img>

# Python object and Data Structure basics

* In this jupyter notebook we will cover the basic data types in `Python`
* These are your basic building blocks when constructing larger peices of code 
<br>
<br>
In the image below first column denotes the name of data type in Python. The second column denotes the keyword for that specific datatype by which it is recognized in Python. Third column gives an idea of their particular examples. 

<img src="https://www.programsbuzz.com/sites/default/files/inline-images/1_QfI8H_8HplGa1v9IrrWjBA.png"
    style="width:250px; float: centre; margin: 0 60px 60px 60px;"></img>
    
### Numbers
#### Basic Arithmetic

<font color  = 'black'> This jupyter notebook includes basic introduction to Python and includes explanation of various important expressions/labels required to start coding experience with Python .
</font>

In [1]:
# Addition 
2+1

3

In [2]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*3

6

In [4]:
# Division
3/2

1.5

In [5]:
# Floor division
# If we divide 80 with 7 than 11 is the quotient during the division process (Floor division gives you the quotient)
80//7

11

In [6]:
# modulo
# If we divide 80 with 7 than 3 is the remainder during the division process (Modulo gives you the remainder)
7%4

3

In [7]:
# Power
2**3

8

In [8]:
# BODMAS () rules
(10 + 2) * (10 - 2)

96

## Variables in Python

A Python variable isÂ a reserved memory location to store values. A variable in a python program gives data to the computer for processing.
In short, we use variable in python to temporarily store data in our computer<br>

### Variable assignment

#### Rules for variable names 

* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0` 

### Objects in Python
In Python, each variable to which we assign a value is treated as an object.

## Dynamic typing
Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*

In [9]:
student_count = 2

In [10]:
student_count

2

In [11]:
student_name = ['Jack', 'Josh']

In [12]:
student_name

['Jack', 'Josh']

### Pros of dynamic typing
* very easy to work with
* faster development time

## Assigning variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [13]:
x

NameError: name 'x' is not defined

This is a mistake that we often commit while coding, we need to keep in mind that we need to initialize a variable with any value before giving a command to return its output

In [14]:
x = 10

In [15]:
x

10

In [16]:
x+x

20

## Reassigning variables
Python lets you reassign variables with a reference to the same object

In [17]:
x = x + x
x

20

## Determining variable type with type()
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [18]:
type(x)

int

In [19]:
x = 20.0
type(x)

float

In [20]:
x = (1,2)
type(x)

tuple

### Small exercise

In [21]:
my_income = 1000
tax_rate = 0.2
my_tax = my_income * tax_rate
my_tax

200.0

In [22]:
type(my_tax)

float

This was a basic introduction to playing with numbers and assigning variables in Python

## Strings
Sequence of characters <br>
In Python, string is an immutable sequence data type. It is the sequence of Unicode characters wrapped inside single, double, or triple quotes
We will cover the following for strings data-type in this lecture
 1. Creating Strings
 2. Printing Strings
 3. String Indexing and Slicing
 4. String Properties
 5. String Methods
 6. Print Formatting

### Creating a string
We can use single, double or triple quotes for creating a string in Python

In [23]:
# Single word
'Hello'

'Hello'

In [24]:
# Entire phrase
'Hello World'

'Hello World'

The reason for this error is because of the single quote after I which finishes off the string at that pt. This could be solved by -

In [25]:
"I'll be completing the task"

"I'll be completing the task"

### Prinitng a string
The correct way to output a string is by using a print function

In [26]:
'Hello World'

'Hello World'

In [27]:
'''Hello World1'''
'Hello'

'Hello'

So, in this case we see that jupyter notebook only prints the last input when multiple strings are inserted

In [28]:
print('Hello World1')
print('Hello World2')

Hello World1
Hello World2

In [29]:
# Use of '\n' in print function
print('Hello World1\nHello World2')

Hello World1
Hello World2

In [30]:
# Use of '\t' in print fucntion
print('Hello World1\tHello World2')

Hello World1	Hello World2

We can make use of len() function to calculate the length of a string (including spaces and punctuations)

## Important - String Indexing
Elements in an `String` are stored in their specific index values which is unique.<br>
Example - Let `s = 'Hello World'` be a string where the element present at the first place is stored at the `0th` index in the string, second element present is stored at `1st` index and so on.....
So for the above string the values are stored in the string as -<br> 
    `0th` index - 'H'<br>
    `1st` index - 'e'<br>
    `2nd` index - 'l'<br>
    `3rd` index - 'l'<br>
    `4th` index - 'o'<br>
This concept is quite important to understand and keep in mind for future references and understanding of arrays, lists, tuple, dictionary, loops used in programming languages

We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets `[]` after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called `'s'` and then walk through a few examples of indexing.

In [31]:
n = 'hello World'
print(n)
# Element at 0th index
n[0]

hello World

'h'

In [32]:
# Element at 1st index
n[1]

'e'

In [33]:
# Element at 3rd index
n[3]

'l'

In [34]:
# Element at 5th index
n[5]

' '

We can make use of `:` for slicing, which grabs everything in a string upto a certain point

In [35]:
# Grab everything in a string
n[:]

'hello World'

In [36]:
# Grab everything in a string except the first element
n[1:]

'ello World'

In [37]:
# Grab everything upto a certain extent
n[:4]

'hell'

* IMP: In the above slicing it should be seen that slicing does not include the i'th index (here 4) but prints output one less than the index that is entered

In [38]:
print(n[1:7])
print(len(n[1:7]))

ello W
6

In [39]:
# Slicing could also be done like
n[-1]

'd'

In [40]:
n[:-1]

'hello Worl'

We can also use slicing with a step size to print certain output in a string

In [41]:
# Output for a string starting from index 1 to 7 with a step size of 2
n[1:8:3]

'eoo'

In [42]:
# Output for whole string with a step size of 2
n[::2]

'hloWrd'

In [43]:
# Reverse of a string
n[::-1]

'dlroW olleh'

### String properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [44]:
# Try to change the first element of a string
n[0] = x

TypeError: 'str' object does not support item assignment

In [45]:
# Concatenate strings
n + 'Hello Universe'

'hello WorldHello Universe'

In [46]:
n + ', ' + 'Hello universe'

'hello World, Hello universe'

In [47]:
# We can re-assign the strings again
n = n + ', Hello Universe'
n

'hello World, Hello Universe'

We can use the multiplication symbol to create repetition!!

In [48]:
letter = 'z'
letter*10

'zzzzzzzzzz'

### Basic Built-in string methods
Objects in Python usually have built-in methods.

We call methods with a period and then the method name. Methods are in the form:<br>
object.method(parameters)

In [49]:
# Showing different methods associated with string n
# You can explore these methods that are associated with this object
n.isupper()

False

In [50]:
# Upper case a string
n.upper()

'HELLO WORLD, HELLO UNIVERSE'

In [51]:
# Lower case a string
n.lower()

'hello world, hello universe'

In [52]:
# Splitting a string by a blank space
n.split()

['hello', 'World,', 'Hello', 'Universe']

In [53]:
# Splitting a string by a specific letter
n.split('o')

['hell', ' W', 'rld, Hell', ' Universe']

## String formatting
It is the process of inserting a custom string or variable in predefined text

There are three ways to perform string formatting.
* The oldest method involves placeholders using the modulo `%` character.
* An improved technique uses the `.format()` string method.
* The newest method, introduced with Python 3.6, uses formatted string literals, called *f-strings*

### Formatting with placeholders
You can use `%s` to inject strings into your print statements. The modulo `%` is referred to as a "string formatting operator".

In [54]:
print("Hey! my name is: %s Singh" %'Puranjit')

Hey! my name is: Puranjit Singh

In [55]:
print("Hey! my name is: %s %s" %('Puranjit', 'Singh'))

Hey! my name is: Puranjit Singh

In [56]:
# We can also pass variable names
a, b = 'Puranjit', 'Singh'
print('Hey!! my name is %s %s' %(a,b))

Hey!! my name is Puranjit Singh

The `%s` operator converts whatever it sees into a string, including integers and floats.
#### Multiple formatting

In [57]:
# Here `2f` in 5.2f shows how many number after decimal pt. would be printed 
print('First: %s, Second: %5.2f, Third: %s' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: bye!

## Formatting with the `.format()` method
A better way to format objects into your strings for print statements is with the string `.format()` method. The syntax is:

    'String here {} then also {}'.format('something1','something2')
    
For example:

In [58]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

### The .format() method has several advantages over the %s placeholder method:
Inserted objects can be called by index position:

In [59]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

## Formatted String Literals (f-strings)
Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [60]:
name = 'John'

print(f"He said his name is {name}.")

He said his name is John.

In [61]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:     23.45

For more info on formatted string literals visit https://docs.python.org/3/reference/lexical_analysis.html#f-strings

## Lists

List is a collection data type which is ordered and mutable. Unlike Sets, Lists allow duplicate elements.
They are useful for preserving a sequence of data and further iterating over it.

Lists are created with square brackets or the built-in list functions

In [62]:
list_1 = ["banana", "cherry", "apple"]
print(list_1)

# create an empty list with the list function
list_2 = list()
print(list_2)

# Lists allow different data types
list_3 = [5, True, "apple"]
print(list_3)

# Lists allow duplicates
list_4 = [0, 0, 1, 1]
print(list_4)

['banana', 'cherry', 'apple']
[]
[5, True, 'apple']
[0, 0, 1, 1]

#### Access elements
You access the list items by referring to the index number. Note that the indices start at 0.

In [63]:
item = list_1[0]
print(item)

# You can also use negative indexing, e.g -1 refers to the last item,
# -2 to the second last item, and so on
item = list_1[-1]
print(item)

banana
apple

#### Change items
Just refer to the index number and assign a new value.

In [64]:
# Lists can be altered after their creation
list_1[2] = "lemon"
print(list_1)

['banana', 'cherry', 'lemon']

#### Useful methods
Have a look at the Python Documentation to see all list methods: 
https://docs.python.org/3/tutorial/datastructures.html

In [65]:
my_list = ["banana", "cherry", "apple"]

# len() : get the number of elements in a list
print("Length:", len(my_list))

Length: 3

In [66]:
# append() : adds an element to the end of the list
my_list.append("orange")

In [67]:
# insert() : adds an element at the specified position
my_list.insert(1, "blueberry")
print(my_list)

['banana', 'blueberry', 'cherry', 'apple', 'orange']

In [68]:
# pop() : removes and returns the item at the given position, default is the last item
item = my_list.pop()
print("Popped item: ", item)

Popped item:  orange

In [69]:
# remove() : removes an item from the list
my_list.remove("cherry") # Value error if not in the list
print(my_list)

['banana', 'blueberry', 'apple']

In [70]:
# clear() : removes all items from the list
my_list.clear()
print(my_list)

[]

In [71]:
# reverse() : reverse the items
my_list = ["banana", "cherry", "apple"]
my_list.reverse()
print('Reversed: ', my_list)

Reversed:  ['apple', 'cherry', 'banana']

In [72]:
# sort() : sort items in ascending order
my_list.sort()
print('Sorted: ', my_list)

Sorted:  ['apple', 'banana', 'cherry']

In [73]:
# use sorted() to get a new list, and leave the original unaffected.
# sorted() works on any iterable type, not just lists
my_list = ["banana", "cherry", "apple"]
new_list = sorted(my_list)

In [74]:
# create list with repeated elements
list_with_zeros = [0] * 5
print(list_with_zeros)

[0, 0, 0, 0, 0]

In [75]:
# concatenation
list_concat = list_with_zeros + my_list
print(list_concat)

[0, 0, 0, 0, 0, 'banana', 'cherry', 'apple']

In [76]:
# convert string to list
string_to_list = list('Hello')
print(string_to_list)

['H', 'e', 'l', 'l', 'o']

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [77]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [78]:
# Call values by their key
my_dict['key2']

'value2'

In [79]:
# Dictionaries are very flexible in the data types they can hold
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [80]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [81]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [82]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

0

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

### Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [83]:
# Create a tuple
t = (1,2,3)

In [84]:
# Check len just like a list
len(t)

3

In [85]:
# Can also mix object types
t = ('one',2)
t

('one', 2)

### Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [86]:
# Use .index to enter a value and return the index
t.index('one')

0

In [87]:
# Use .count to count the number of times a value appears
t.count('one')

1

### Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [88]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [89]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

## When to use Tuples

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [90]:
x = set()
# We add to sets with the add() method
x.add(1)
#Show
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [91]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

## Booleans

In the following table, we would solve the questions using a = 3 and b = 4

These operators will allow us to compare variables and output a Boolean value (True or False)

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [92]:
# Set object to be a boolean
a = True
a

True

In [93]:
# Output is boolean
1 > 2

False

In [94]:
3.0==3

True

In [95]:
3.0>3

False

In [96]:
3.0>=3

True

In [97]:
4*0.5!=2.0

False

What is the boolean output of the following question?

In [98]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False